<div class="jumbotron">
    <h1>Биржа пряников 2.0</h1>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-primary" data-bind="with:BuyInfo">
            <div class="panel-heading">Купить</div>
            <div class="panel-body row">
                <div class="form-horizontal col-sm-10" data-bind="with:LotForEdit">
                    <div class="form-group">
                        <div class="col-sm-10">
                            <input data-bind="value:Price" type="text" class="form-control" placeholder="Цена за шт.">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10">
                            <input data-bind="value:Quantity" type="number" class="form-control" placeholder="Количество">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10">
                            <input data-bind="value:BrokerEmail" type="text" class="form-control" placeholder="Email">
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-default" data-bind="click:$root.buy.bind($root,$data.LotForEdit)">ОК</button>
                </div>
            </div>
            <table class="table table-condensed">
                <caption>Ордера на покупку</caption>
                <thead>
                    <tr>
                        <th>Цена</th>
                        <th>Кол-Во (куплено/всего)</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach:Lots">
                    <tr>
                        <td data-bind="text:Price"></td>
                        <td><span data-bind="text: ClosedQuantity"></span> / <span data-bind="text: Quantity"></span></td>
                        <td data-bind="text:BrokerEmail"></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
    <div class="col-md-6">
        <div class="panel panel-primary" data-bind="with:SellInfo">
            <div class="panel-heading">Продать</div>
            <div class="panel-body row">
                <div class="form-horizontal col-sm-10" data-bind="with:LotForEdit">
                    <div class="form-group">
                        <div class="col-sm-10">
                            <input data-bind="value:Price" type="text" class="form-control" placeholder="Цена за шт.">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10">
                            <input data-bind="value:Quantity" type="number" class="form-control" placeholder="Количество">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10">
                            <input data-bind="value:BrokerEmail" type="text" class="form-control" placeholder="Email">
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-default" data-bind="click:$root.sell.bind($root,$data.LotForEdit)">ОК</button>
                </div>
            </div>
            <table class="table table-condensed">
                <caption>Ордера на продажу</caption>
                <thead>
                    <tr>
                        <th>Цена</th>
                        <th>Кол-Во (продано/всего)</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach:Lots">
                    <tr>
                        <td data-bind="text:Price"></td>
                        <td><span data-bind="text: ClosedQuantity"></span> / <span data-bind="text: Quantity"></span></td>
                        <td data-bind="text:BrokerEmail"></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
<div class="panel panel-info">
    <div class="panel-heading">Завершённые сделки</div>
    <table class="table">
        <thead>
            <tr>
                <th>Выполнено <i class="glyphicon glyphicon-sort-by-order"></i></th>
                <th>Дата К</th>
                <th>Дата П</th>
                <th>Цена</th>
                <th>Кол-во</th>
                <th>E-Mail К</th>
                <th>E-Mail П</th>
            </tr>
        </thead>
        <tbody data-bind="foreach:Transactions">
            <tr>
                <td data-bind="text:Time"></td>
                <td data-bind="text:BuyLotTime"></td>
                <td data-bind="text:SellLotTime"></td>
                <td data-bind="text:Price"></td>
                <td data-bind="text:Quantity"></td>
                <td data-bind="text:BuyBorkerEmail"></td>
                <td data-bind="text:SellBorkerEmail"></td>
            </tr>
        </tbody>
    </table>
</div>

<script>
    serverData = {
        urlForBuyLots: '@Url.HttpRouteUrl("DefaultApi", new { controller = "BuyLot" })',
        urlForSellLots: '@Url.HttpRouteUrl("DefaultApi", new { controller = "SellLot" })',
        urlForTransactions: '@Url.HttpRouteUrl("DefaultApi", new { controller = "Transaction" })',
    }
</script>
<script src="~/Scripts/Home/Index.js"></script>